@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Simonetta&display=swap');


.post-form {
  top: 100px;
  left: 150px;
  position: relative;
  text-align: left;

}

/* 
.main_page{
    overflow-x: hidden;
    overflow-y: hid;
    scroll-padding-top: 4rem;
} */
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Simonetta&display=swap');

/* 
.main_page{
    overflow-x: hidden;
    overflow-y: hid;
    scroll-padding-top: 4rem;
} */

.icon{
    position: absolute;
    text-align: center;
    left: px;
    height: 90px;
    
}

.heading{
    font-family: 'Simonetta';
    font-style: normal;
    position: absolute;
    color: white;
    left: 350px;
    text-align: center;
    top: 20px;
}

.top_left{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100px;
    background-color: #53A1A3;
    width: 120px;
    text-align: center;
}

.top_middle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #A4C3C6;
    text-align: center;
}

.sidebar{
    position: absolute;
    width: 120px;
    background-color:  #A4C3C6;
    height: 100%;
    left: 0px;
    top: 100px;
}

 .calendar {
    display: inline-block;
    position: absolute;
    width: 4em;
    height: 4em;
    left: 30px;
    top: 50px;
    background: url('https://api.iconify.design/akar-icons/calendar.svg?color=%23eee') no-repeat center center / contain;
 }
 
 .profile {
    display: inline-block;
    position: absolute;
    width: 4em;
    height: 4em;
    left: 30px;
    top: 180px;
    background: url('https://api.iconify.design/iconoir/profile-circled.svg') no-repeat 
    center center / contain;
 }

 .friends {
    display: inline-block;
    position: absolute;
    width: 4em;
    height: 4em;
    left: 30px;
    top: 180px;
    background: url('https://api.iconify.design/fa-solid/user-friends.svg?color=%23eee') no-repeat center center / contain;
 }

 .microphone {
    display: inline-block;
    position: absolute;
    width: 4em;
    height: 4em;
    left: 30px;
    top: 310px;
    background: url('https://api.iconify.design/carbon/microphone.svg?color=%23eee') no-repeat center center / contain;
    
 }

 .page-body{
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 50px;
    font-size: 20px;
    border-spacing: 50px, 50px;
    font-family: 'Simonetta';
 }

 .table-body{
     position: absolute;
     left:50px;
     top: 100px;
     border-spacing: 40px;
     text-align: center;
     overflow: auto;
     

 }
