@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Simonetta&display=swap');

.post-form {
  top: 100px;
  left: 150px;
  position: relative;
  text-align: left;

}

/* 
.main_page{
    overflow-x: hidden;
    overflow-y: hid;
    scroll-padding-top: 4rem;
} */



.heading{
    font-family: 'Simonetta';
    font-style: normal;
    font-size: xx-large;
    position: absolute;
    color: white;
    left: 350px;
    text-align: center;
    top: 20px;
}


.top_middle{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    background-color: #A4C3C6;
    width: 1440px;
    text-align: center;
}



 .post-moment {
    font-family: 'Simonetta';
 }

 .username {
    font-family: 'Simonetta';
 }

 .date {
    font-family: 'Simonetta';
 }

 .title {
    font-family: 'Simonetta';
 }

 .description {
    font-family: 'Simonetta';
 }

 .mood {
    font-family: 'Simonetta';
 }

 .post-button {
    font-family: 'Simonetta';
    color: white;
    background-color: #859AAF;
    
 }





