@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Simonetta&display=swap');

.post-form {
  top: 100px;
  left: 150px;
  position: relative;
  text-align: left;

}

/* 
.main_page{
    overflow-x: hidden;
    overflow-y: hid;
    scroll-padding-top: 4rem;
} */

.logo{
    font-family: 'Imprima';
    font-style: normal;
    position: relative;
    color: white;
    text-align: center;
    top: 20px;
    font-size: 20px;
}

.heading{
    font-family: 'Simonetta';
    font-style: normal;
    font-size: xx-large;
    position: absolute;
    color: white;
    left: 350px;
    text-align: center;
    top: 10px;
}








